
* {-moz-box-sizing: border-box; box-sizing: border-box;}

body
{
	background-color: darkgrey;
	background-size: 100%;
	min-height: 1%;
  	margin: 0;
  	padding: 0;
}

body {position: relative;}

#footer{
    vertical-align: middle;
    width: 100%;
}

